body{
	text-align: center;					
}
.carousel-content {
	display: none;
}

.carousel-content.active {
	display: block;
}

.carousel {
	width: 100%;
}

.carousel>div>img {
	width: 5s0%;
}
.imagenes{
	width: 659px;
	height: 370px ;
	z-index: -1;
}
.flechas{
	z-index: 1;
}
